Repository lzaycoe/brainbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

.lintstagedrc:

{
	"src/**/*.ts": ["pnpm prettier --write \"./src/**/*.ts\""],
	"src/**/*.tsx": ["pnpm prettier --write \"./src/**/*.tsx\""]
}

fix: fix sonar scan
  src/components/learners/courses/course/course-detail/CourseData.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: hook for toast
  src/hooks/.gitkeep
  src/hooks/use-toast.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: toast component from shadcn
  src/components/ui/toast.tsx
  src/components/ui/toaster.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: package json and pnpm lock
  package.json
  pnpm-lock.yaml
Due: none

add: course thumbnail placeholder image
  public/app/course-thumbnail-placeholder.png
Due: none

add: course schema
  src/schemas/course.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: add path page
  src/layouts/TeacherLayout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: path page for effect in sidebar
  src/components/commons/teachers/SideBar.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: api service for course
  src/services/api/course.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: service for create supabase client
  src/services/supabase/client.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: service for upload course thumbnail
  src/services/supabase/uploadImage.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: remove gitkeep
  src/services/.gitkeep
Due: none

add: base tab component
  src/components/teachers/create-course/Tab.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: tab group component
  src/components/teachers/create-course/TabGroup.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: form course basic info component
  src/components/teachers/create-course/FormBasicInfo.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: form course advance info component
  src/components/teachers/create-course/FormAdvanceInfo.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: page create course
  src/app/teachers/create-course/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: layout for teacher page
  src/app/teachers/layout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

feat: add admin layout and login page components
  src/app/admins/layout.tsx
  src/app/admins/login/page.tsx
  src/layouts/AdminLayout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

feat: implement admin login form and update layout
  src/app/admins/login/page.tsx
  src/components/admins/LoginForm.tsx
  src/layouts/AdminLayout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

refactor: clean up LoginForm component structure and improve readability
  src/components/admins/LoginForm.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add UI for purchase history
  src/app/(learners)/purchase-history/page.tsx
  src/components/learners/purchase-history/Content.tsx
  src/components/learners/purchase-history/ContentCard.tsx
  src/components/learners/purchase-history/CourseItem.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update UI
  src/components/learners/purchase-history/Content.tsx
  src/components/learners/purchase-history/CourseItem.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update UI
  src/components/learners/purchase-history/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update UI format
  src/components/learners/purchase-history/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: ignore eslint
  src/hooks/use-toast.ts
Due: pnpm prettier --write "./src/**/*.ts"

delete: delete redundant images
  public/app/contact/branch01.png
  public/app/contact/branch02.png
  public/app/contact/branch03.png
  public/app/contact/branch04.png
  public/app/contact/contact1.png
  public/app/contact/map.png
Due: none

feat: enhance remember me checkbox with improved accessibility and visual feedback
  src/components/admins/LoginForm.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

feat: add admin login banner image to enhance visual appeal
  public/app/admin/admin-login-banner.png
  src/components/admins/LoginForm.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar scan
  src/components/admins/LoginForm.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

refactor: remove AdminLayout component from AdminPageLayout for simplified structure
  src/app/admins/layout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: implement ui for purchase history
  src/components/learners/purchase-history/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: implement UI for Purchase history
  src/components/learners/purchase-history/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add implement UI completed
  src/components/learners/purchase-history/Content.tsx
  src/components/learners/purchase-history/ContentCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: fix bug sonar
  src/app/(learners)/purchase-history/page.tsx
  src/components/learners/purchase-history/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: fix bug sonar
  src/components/learners/purchase-history/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: fix bug sonar
  src/components/learners/purchase-history/Content.tsx
  src/components/learners/purchase-history/CourseItem.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: refactor title setting logic in TeacherLayout to use switch statement
  src/layouts/TeacherLayout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: create ListSummaryCard component for displaying earnings summary
  src/components/teachers/earnings/ListSummaryCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"
