Repository lzaycoe/brainbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

.lintstagedrc:

{
	"src/**/*.ts": ["pnpm prettier --write \"./src/**/*.ts\""],
	"src/**/*.tsx": ["pnpm prettier --write \"./src/**/*.tsx\""]
}

fix: fix sonar scan
  src/components/admins/check-courses/CourseRequestTable.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add TeacherReport interface and implement getTeacherReport API function
  src/schemas/revenue.schema.ts
  src/services/api/revenue.ts
Due: pnpm prettier --write "./src/**/*.ts"

fix: fix UI
  src/components/admins/check-courses/CourseRequestTable.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: implement teacher dashboard with report fetching and summary cards
  src/app/teachers/dashboard/metadata.ts
  src/app/teachers/dashboard/page.tsx
  src/components/teachers/dashboard/ListSummaryCardDashboard.tsx
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

update: enhance CourseCard and TeacherCard to display default rating and adjust layout
  src/components/commons/CourseCard.tsx
  src/components/learners/course-list/Course.tsx
  src/components/learners/home/ListTeacherCard.tsx
  src/components/learners/home/TeacherCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: bump version to 1.4.1
  package.json
Due: none

fix: fix error in create withdraw request
  CONTRIBUTING.md
  src/app/teachers/earnings/page.tsx
  src/components/teachers/earnings/WithdrawMoney.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: replace formatPrice with formatCurrency for consistent currency formatting
  src/components/learners/checkout/id/Course.tsx
  src/components/learners/purchase-history/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: display course list
  src/app/(learners)/course-list/page.tsx
  src/components/learners/course-list/Course.tsx
  src/components/learners/home/ListCourseCardLandscape.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar cloud issue
  src/components/teachers/earnings/WithdrawMoney.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: remove comment
  src/services/api/payment.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: add redirect to root
  src/components/commons/teachers/SideBar.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: remove comment
  src/services/custom/course/fetchCourseData.ts
Due: pnpm prettier --write "./src/**/*.ts"

fix: update email address and add clipboard copy functionality
  src/components/learners/becomeATeacher/SectionFour.tsx
  src/components/learners/contact/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: split component for payment history
  src/components/learners/purchase-history/Content.tsx
  src/components/learners/purchase-history/PaymentCardLandscape.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: style for Loading component
  src/components/commons/Loading.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: move fetch and loading to page
  src/app/admins/dashboard/page.tsx
  src/components/admins/dashboard/ListSummaryCardDashboard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: metadata for teacher dashboard page
  src/app/admins/dashboard/metadata.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: update project version
  package.json
Due: none

fix: fix error in build
  src/app/(learners)/category/page.tsx
  src/components/learners/contact/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: hot fix
  src/app/(learners)/courses/[id]/page.tsx
  src/components/learners/courses/course/course-detail/CourseCard.tsx
  src/components/learners/courses/course/course-detail/CourseDetail.tsx
  src/middlewares/clerk-middleware.ts
  src/services/api/course.ts
  src/services/custom/course/checkPayment.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

update: project version
  package.json
Due: none

add: include project documentation and resources for BrainBox
  docs/Project Related Link.docx
  docs/WDP301 - BrainBox - Final Release v1.0.0.pdf
  docs/WDP301 - BrainBox - Final Report.pptx
  docs/WDP301 - BrainBox - Project Planning v1.0.0.xlsx
  docs/WDP301 - BrainBox - SDS v1.0.0.pdf
  docs/WDP301 - BrainBox - SRS v1.0.0.pdf
  docs/WDP301 - BrainBox - Tracking Task v1.0.0.xlsx
Due: none
