Repository lzaycoe/brainbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

update: admin layout
  src/layouts/AdminLayout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update name and part for request page
  src/config/adminMenuItems.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: add paging for component
  src/components/teachers/earnings/WithdrawHistory.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: remove console log
  src/components/teachers/earnings/CreditCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: data table for display withdraw rêquest
  src/components/admins/withdraw-requests/DataTable.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add Toaster for admin layout
  src/app/admins/layout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: withdraw request page
  src/app/admins/withdraw-requests/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: duplicate issue in next config hostname
  next.config.ts
  src/config/allowedHostnames.ts
Due: pnpm prettier --write "./src/**/*.ts"

fix: duplicate code issue in data table
  src/components/admins/withdraw-requests/DataTable.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: admin layout
  src/app/admins/layout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: remove unused data
  src/data/transactionsData.ts
Due: pnpm prettier --write "./src/**/*.ts"

fix: fix sonar cloud issues
  src/components/admins/withdraw-requests/DataTable.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add sort for with draw history
  src/components/teachers/earnings/WithdrawHistory.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar cloud issues
  src/components/admins/withdraw-requests/DataTable.tsx
  src/components/teachers/earnings/WithdrawHistory.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: sonar cloud issue
  src/services/custom/course/watchCourseServices.ts
Due: pnpm prettier --write "./src/**/*.ts"

fix: duplicate code
  src/components/teachers/course-detail/CourseDetail.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: integrate chatbot script and metadata for enhanced functionality and SEO
  src/app/(learners)/layout.tsx
  src/app/(learners)/metadata.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

add: component drawer from shadcn
  package.json
  pnpm-lock.yaml
  src/components/ui/drawer.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: user schema
  src/schemas/user.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: bank api service
  src/services/api/bank.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: util handle withdraw request
  src/utils/handleWithdrawRequest.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: type for withdraw request
  src/types/withdrawRequest.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: service for get teacher bank account
  src/services/custom/user/getTeacherBankAccount.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: custom bank card component
  src/components/teachers/earnings/CustomBankCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: create column for data table
  src/components/admins/withdraw-requests/Columns.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: data table component
  src/components/admins/withdraw-requests/DataTable.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: withdraw drawer for actions
  src/components/admins/withdraw-requests/WithdrawActionsCell.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: refactor chat message handling and enhance conversation schema with message integration
  src/components/commons/learners/ChatMessage.tsx
  src/components/learners/message/ChatApp.tsx
  src/hooks/useChatSocket.ts
  src/schemas/conversation.schema.ts
  src/schemas/message.schema.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

fix: sonar cloud issues
  src/components/admins/withdraw-requests/WithdrawActionsCell.tsx
  src/services/custom/user/getTeacherBankAccount.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

update: enhance chat message handling with real-time updates and message formatting improvements
  src/components/commons/learners/ChatMessage.tsx
  src/components/learners/message/ChatApp.tsx
  src/hooks/useChatSocket.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

fix: security issue on Dependabot
  package.json
  pnpm-lock.yaml
Due: none

update: add metadata for course details page
  src/app/(learners)/courses/[id]/metadata.ts
  src/app/(learners)/courses/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

update: bump version to 1.4.0
  package.json
Due: none

update: style and UX for chat message
  src/components/commons/learners/ChatMessage.tsx
  src/components/learners/message/ChatApp.tsx
  src/config/menuItems.ts
  src/schemas/message.schema.ts
  tailwind.config.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

update: style chat
  src/components/commons/learners/ChatMessage.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: create metadata for learner dashboard
  src/app/(learners)/dashboard/metadata.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: upgrade @babel/runtime to version 7.26.10 in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: fix sonar scan
  src/app/teachers/courses/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add isAdminView to disable edit course button
  src/components/teachers/course-detail/CourseDetailCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: use watch-course component instead course detail
  src/app/admins/course/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

Path conditions:
  pnpm prettier --write "./src/**/*.ts": any of: src/**/*.ts
  pnpm prettier --write "./src/**/*.tsx": any of: src/**/*.tsx
