Repository lzaycoe/brainbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

.lintstagedrc:

{
	"src/**/*.ts": ["pnpm prettier --write \"./src/**/*.ts\""],
	"src/**/*.tsx": ["pnpm prettier --write \"./src/**/*.tsx\""]
}

update: add metadata for FAQs page
  src/app/(learners)/FAQs/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add metadata for Learner Messages page
  src/app/(learners)/message/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add metadata for Purchase History page
  src/app/(learners)/purchase-history/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add metadata for Learner Profile Settings page
  src/app/(learners)/settings/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add metadata for Teacher Profile page
  src/app/(learners)/teacher-profile/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add metadata for Watch Course page
  src/app/(learners)/watch-course/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add metadata for Learner Wishlist page
  src/app/(learners)/wishlist/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: correct text for teacher link in Header component
  src/components/commons/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add metadata for Admin Check Courses page
  src/app/admins/check-courses/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add metadata for Admin Dashboard page
  src/app/admins/dashboard/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add metadata for Admin Login page
  src/app/admins/login/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: refine metadata titles for Admin pages
  src/app/admins/check-courses/page.tsx
  src/app/admins/dashboard/page.tsx
  src/app/admins/login/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add metadata titles for Teacher pages
  src/app/teachers/courses/[id]/edit/page.tsx
  src/app/teachers/courses/[id]/page.tsx
  src/app/teachers/courses/[id]/sections/[section]/create-lecture/page.tsx
  src/app/teachers/courses/[id]/sections/[section]/lectures/[lecture]/edit/page.tsx
  src/app/teachers/courses/[id]/sections/page.tsx
  src/app/teachers/courses/page.tsx
  src/app/teachers/create-course/page.tsx
  src/app/teachers/dashboard/page.tsx
  src/app/teachers/earnings/page.tsx
  src/app/teachers/messages/page.tsx
  src/app/teachers/settings/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add socket.io-client dependency to package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: none

update: add conversation schema with validation for user IDs
  src/schemas/conversation.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: add message schema with validation for conversation and sender IDs
  src/schemas/message.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: implement useChatSocket hook for real-time messaging and conversation management
  src/hooks/useChatSocket.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: create ChatContext and provider for managing chat messages
  src/contexts/ChatContext.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: wrap children with ChatProvider in RootLayout for chat context management
  src/app/layout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: enhance useChatSocket hook with new conversation and message handling methods
  src/hooks/useChatSocket.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: enhance ChatContext to include conversations and improve useChat hook error handling
  src/contexts/ChatContext.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: change from ListSummaryCard to ListSummaryCardDashboard
  src/app/admins/dashboard/page.tsx
  src/app/teachers/dashboard/page.tsx
  src/components/teachers/dashboard/ListSummaryCardDashboard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: course detail of teacher
  src/app/teachers/courses/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: duplicate code
  src/app/teachers/courses/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: code
  src/app/teachers/courses/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: code v2
  src/app/teachers/courses/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: code v3
  src/app/teachers/courses/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: v4
  src/app/teachers/courses/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: v5
  src/app/teachers/courses/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add hover cursor style to MenuItem for better user interaction
  src/components/commons/MenuItem.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: implement message sending functionality and enhance conversation handling in Chat components
  src/components/commons/learners/ChatMessage.tsx
  src/components/learners/message/ChatApp.tsx
  src/hooks/useChatSocket.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

update: add loading state to ChatApp for improved user experience during data fetching
  src/components/learners/message/ChatApp.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: enhance ChatApp and useChatSocket for improved message handling and conversation management
  src/components/learners/message/ChatApp.tsx
  src/data/messages.ts
  src/hooks/useChatSocket.ts
  src/schemas/conversation.schema.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

add: add Category page
  src/app/(learners)/category/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add new component for listing teacher card
  src/components/learners/category/ListTeacherByCategory.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add list best selling course
  src/components/learners/category/ListCourseByCategory.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: base component from shadcn
  package.json
  pnpm-lock.yaml
  src/components/ui/command.tsx
  src/components/ui/popover.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/sheet.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: next config file to display image
  next.config.ts
Due: none

update: user context for storing info
  src/hooks/useUserMetadata.ts
  src/schemas/user.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: bank schema
  src/schemas/bank.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"
