Repository lzaycoe/brainbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

add: implement course summary card and refactor course detail page
  src/app/teachers/courses/[id]/page.tsx
  src/components/teachers/course-detail/ListSummaryCard.tsx
  src/services/api/payment.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

update: add options to hide course and section progress, and checkbox in CourseMenu
  src/components/learners/watch-course/CourseMenu.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add navigate to become instructor
  src/components/commons/learners/Profile.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add navigate to become instructor
  src/components/learners/home/ListTeacherCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add navigate to become instructor
  src/components/learners/home/BecomeTeacherSteps.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add navigate to correct page
  src/components/commons/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add route to Link
  src/components/commons/Footer.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: add 'use client'
  src/components/commons/learners/Profile.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: wrong route name
  src/components/commons/learners/Profile.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: remove unused image hostname configuration from next.config.ts
  next.config.ts
Due: none

add: implement CourseDetailCard component
  src/app/teachers/courses/[id]/page.tsx
  src/components/teachers/course-detail/CourseDetailCard.tsx
  src/schemas/course.schema.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

update: enhance CourseDetail component with revenue, student count, sections, and lectures data
  src/app/teachers/courses/[id]/page.tsx
  src/components/teachers/course-detail/CourseDetailCard.tsx
  src/components/teachers/course-detail/ListSummaryCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: replace loading text with Loading component in CourseForm
  src/components/commons/teachers/CourseForm.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add active link
  src/components/commons/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix import
  src/components/learners/purchase-history/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: populate FormInfo fields with user data and update profile image source
  src/components/teachers/setting/FormInfo.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: accordion component
  package.json
  pnpm-lock.yaml
  src/components/ui/accordion.tsx
  tailwind.config.ts
Due: pnpm prettier --write "./src/**/*.tsx"

update: list course card
  src/components/learners/home/ListCourseCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: change name to thumbnail instead of video
  src/components/learners/courses/course/course-detail/ThumbnailSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: course card detail
  src/components/learners/courses/course/course-detail/CourseCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: overview section
  src/components/learners/courses/course/course-detail/OverviewSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: curriculum section component
  src/components/learners/courses/course/course-detail/CourseDetail.tsx
  src/components/learners/courses/course/course-detail/CurriculumSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: bump version to 1.2.0 in package.json
  package.json
Due: none

update: display only approved course
  src/components/learners/home/ListCourseCard.tsx
  src/components/learners/home/ListCourseCardLandscape.tsx
  src/schemas/course.schema.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

add: add effect when change route
  src/components/commons/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar cloud issue
  src/components/learners/courses/course/course-detail/CurriculumSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add course status to CourseDetail and CourseDetailCard components
  src/app/teachers/courses/[id]/page.tsx
  src/components/teachers/course-detail/CourseDetailCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: change route to teacher dashboard
  src/components/commons/learners/Profile.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: add missing closing brace in ListTeacherCard component
  src/components/learners/home/ListTeacherCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix error build
  src/components/learners/course-list/Course.tsx
  src/schemas/course.schema.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

update: package version
  package.json
Due: none

fix: bug payment
  src/services/api/payment.ts
Due: pnpm prettier --write "./src/**/*.ts"

fix: bug payment
  src/components/learners/becomeATeacher/InstructorSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: bug payment
  src/components/learners/checkout/id/Course.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

Path conditions:
  pnpm prettier --write "./src/**/*.ts": any of: src/**/*.ts
  pnpm prettier --write "./src/**/*.tsx": any of: src/**/*.tsx
