Repository lzaycoe/brainbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

.lintstagedrc:

{
	"src/**/*.ts": ["pnpm prettier --write \"./src/**/*.ts\""],
	"src/**/*.tsx": ["pnpm prettier --write \"./src/**/*.tsx\""]
}

fix: fix sonar lint
  pnpm-lock.yaml
Due: none

fix: fix sonar lint
  src/components/teachers/courses/TeacherCourseList.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar lint
  src/app/(learners)/courses/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: get userId from clerk
  src/app/(learners)/courses/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add custom api to check progress
  src/services/custom/course/checkProgress.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: add api check payment for user
  src/services/custom/course/checkPayment.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: add api get payments from user
  src/services/api/payment.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: use api to display card
  src/components/learners/courses/CourseList.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix spelling error
  src/schemas/payment.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: config image
  next.config.ts
Due: none

add: formatPrice
  src/utils/formatPrice.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: service payment
  src/services/api/payment.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: payment schema
  src/schemas/payment.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: delete CourseItem
  src/components/learners/purchase-history/CourseItem.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: delete ContentCard
  src/components/learners/purchase-history/ContentCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: component Content
  src/components/learners/purchase-history/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: delete PaymentForm
  src/components/learners/checkout/PaymentForm.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: delete Header
  src/components/learners/checkout/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: delete Course
  src/components/learners/checkout/Course.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: component Header
  src/components/learners/checkout/id/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: component Course
  src/components/learners/checkout/id/Course.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: component InstructorSection
  src/components/learners/becomeATeacher/InstructorSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: page checkout
  src/app/(learners)/checkout/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: layout
  src/app/(learners)/layout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: delete page
  src/app/(learners)/checkout/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: use api to get progress and display course
  src/components/learners/dashboard/CoursesSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add userId to CourseSection
  src/components/learners/courses/CourseList.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add userId to dashboard page
  src/app/(learners)/dashboard/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix import alias
  src/services/custom/course/checkProgress.ts
Due: pnpm prettier --write "./src/**/*.ts"

fix: bugSonar
  src/components/learners/becomeATeacher/InstructorSection.tsx
  src/components/learners/checkout/id/Course.tsx
  src/components/learners/purchase-history/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: use api to get teacher name
  src/components/learners/courses/course/course-detail/CourseDetail.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: use api to get teacher
  src/services/api/lecture.ts
Due: pnpm prettier --write "./src/**/*.ts"

fix: fix lint build
  src/components/learners/course-list/Course.tsx
  src/components/teachers/courses/TeacherCourseList.tsx
  src/services/api/lecture.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar scan
  src/components/teachers/courses/TeacherCourseList.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: filter
  src/components/learners/purchase-history/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: filter component
  src/components/learners/purchase-history/FilterStatusSelects.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: util for format currency
  src/utils/currency.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: add function for delete file
  src/services/supabase/delete.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: add api service functions
  src/services/api/course.ts
  src/services/api/lecture.ts
Due: pnpm prettier --write "./src/**/*.ts"
