Repository lzaycoe/brainbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

.lintstagedrc:

{
	"src/**/*.ts": ["pnpm prettier --write \"./src/**/*.ts\""],
	"src/**/*.tsx": ["pnpm prettier --write \"./src/**/*.tsx\""]
}

update: fix bug sonar
  src/components/learners/about/AboutSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: fix bug sonar
  src/components/learners/about/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update header breadcrumb for contact
  src/components/learners/contact/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update header breadrom
  src/components/learners/career/Content.tsx
  src/components/learners/career/Header.tsx
  src/components/learners/career/JobList.tsx
  src/components/learners/career/Logo.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: fix UI
  src/components/learners/career/JobList.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: fix bug sonar
  src/components/learners/career/Content.tsx
  src/components/learners/career/JobList.tsx
  src/components/learners/career/Logo.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: implement UI for career detail
  src/app/(learners)/career-detail/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update UI for career detail
  src/app/(learners)/career-detail/page.tsx
  src/components/learners/career-detail/JobPosting.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: fix bug sonar
  src/components/learners/career-detail/JobPosting.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add UI for career
  src/components/learners/career-detail/JobPosting.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add UI for career detail
  src/components/learners/career-detail/JobPosting.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: page
  src/app/(learners)/course-list/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: component CourseCard
  src/components/commons/CourseCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: component Course
  src/components/learners/course-list/Course.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: component FilterSelects
  src/components/teachers/courses/FilterSelects.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: duplicate code
  src/components/learners/course-list/Course.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update hard data for detail course
  src/data/CourseData.ts
Due: pnpm prettier --write "./src/**/*.ts"

fix: use Course Card common instead
  src/components/learners/courses/course/course-detail/RelatedCourses.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: router config for path in teacher pages
  src/config/routerConfig.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: use route config for teacher layout
  src/layouts/TeacherLayout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: menu items for sidebar
  src/config/.gitkeep
  src/config/menuItems.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: use menu items for teacher sidebar
  src/components/commons/teachers/SideBar.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: change path for routes
  src/config/menuItems.ts
  src/config/routerConfig.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: update UI for career detail
  src/components/learners/career-detail/JobPosting.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update UI for career detail (completed)
  src/components/learners/career-detail/JobPosting.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: api service to get user
  src/services/api/user.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: user schema
  src/schemas/user.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: hook to put user info into metadata
  src/hooks/useUserMetadata.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: user context provider component
  src/contexts/UserContext.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: clerk middle ware to handle route
  src/middlewares/clerk-middleware.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: use user provider for root layout
  src/app/layout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add next config for more resource image
  next.config.ts
Due: none

add: add getCourses for get all course
  src/services/api/course.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: use api to get list course card
  src/components/learners/home/ListCourseCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: use api to get list course card landscape
  src/components/learners/home/ListCourseCardLandscape.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix lint scan
  src/components/learners/home/ListCourseCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix lint scan
  src/components/learners/home/ListCourseCardLandscape.tsx
Due: pnpm prettier --write "./src/**/*.tsx"
