Repository lzaycoe/brainbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

.lintstagedrc:

{
	"src/**/*.ts": ["pnpm prettier --write \"./src/**/*.ts\""],
	"src/**/*.tsx": ["pnpm prettier --write \"./src/**/*.tsx\""]
}

add: dropdown menu when leaner login account
  src/components/commons/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: implement UI for teacher-profile
  src/components/learners/teacher-profile/Comment.tsx
  src/components/learners/teacher-profile/CoursesSection.tsx
  src/components/learners/teacher-profile/ProfileCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: implement UI for teacher profile
  src/components/commons/learners/NavigationBar.tsx
  src/components/learners/settings/ProfileSettings.tsx
  src/components/learners/teacher-profile/Comment.tsx
  src/components/learners/teacher-profile/CoursesSection.tsx
  src/components/learners/teacher-profile/ProfileCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: banner in home page
  src/components/home/Banner.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: sonar cloud issue
  src/components/commons/Header.tsx
  src/components/commons/MenuItem.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: image
  public/app/checkout/course.png
  public/app/checkout/image_1.png
  public/app/checkout/image_2.png
  public/app/checkout/image_3.png
Due: none

add: page
  src/app/(learners)/checkout/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: checkout component CourseList
  src/components/learners/checkout/Course.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: checkout component Header
  src/components/learners/checkout/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: checkout component PaymentForm
  src/components/learners/checkout/PaymentForm.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: bugSonar
  src/components/learners/checkout/Course.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: bugSonar
  src/components/learners/checkout/PaymentForm.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add base component from shadcn
  package.json
  src/components/ui/separator.tsx
  src/components/ui/tooltip.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add placeholder image for card
  public/app/card-img-template.png
Due: none

update: update to use card categories
  src/components/home/BrowseCategories.tsx
  src/components/home/CatergoryCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add course card component
  src/components/home/CourseCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: list course card component
  src/components/home/ListCourseCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add component list course card to page
  src/app/(learners)/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update pnpm lock
  pnpm-lock.yaml
Due: none

fix: update image domains to use remote patterns in next.config.ts
  next.config.ts
Due: none

refactor: remove copyright comments from multiple files
  src/app/(learners)/layout.tsx
  src/app/(learners)/page.tsx
  src/app/teachers/dashboard/page.tsx
  src/app/teachers/layout.tsx
  src/components/commons/Footer.tsx
  src/components/commons/SummaryCard.tsx
  src/components/commons/teachers/AreaChart.tsx
  src/components/commons/teachers/Footer.tsx
  src/components/commons/teachers/ProfileViewChartCard.tsx
  src/components/commons/teachers/RecentActivity.tsx
  src/components/home/BrowseCategories.tsx
  src/components/teachers/dashboard/Banner.tsx
  src/components/teachers/dashboard/ListSummaryCard.tsx
  src/components/teachers/dashboard/RevenueReport.tsx
  src/layouts/MainLayout.tsx
  src/layouts/TeacherLayout.tsx
  src/lib/utils.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

refactor: remove Dockerfile and .dockerignore files
  .dockerignore
  Dockerfile
Due: none

refactor: rename build workflow to lint and update steps
  .github/workflows/build.yml
  .github/workflows/release-and-publish.yml
Due: none

feat: add linting workflow for feature and hotfix branches
  .github/workflows/lint.yml
Due: none

update: update effect for hover card
  src/components/home/CourseCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: base component from shadcn
  src/components/ui/avatar.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: placeholder image for avatar
  public/app/teacher-avatar-template.png
Due: none

update: pnpm lock file
  pnpm-lock.yaml
Due: none

add: component course card landscape
  src/components/home/CourseCardLandscape.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: component list course card
  src/components/home/ListCourseCardLandscape.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: package json file
  package.json
Due: none

add: component become a teacher tiles
  src/components/home/BecomeTeacherSteps.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add component to page
  src/app/(learners)/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: image for component
  public/app/become-a-teacher.png
Due: none

add: placeholder image for teacher card
  public/app/teacher-img-placeholder.png
Due: none

add: component teacher card
  src/components/home/TeacherCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: list component teacher card
  src/components/home/ListTeacherCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: remove space in code
  src/components/home/CourseCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add component list card teacher to page
  src/app/(learners)/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"
