Repository lzaycoe/brainbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

add: setup base folder
  src/components/.gitkeep
  src/config/.gitkeep
  src/hooks/.gitkeep
  src/layouts/.gitkeep
  src/lib/.gitkeep
  src/services/.gitkeep
  src/styles/.gitkeep
  src/types/.gitkeep
  src/utils/.gitkeep
Due: none

update: favicon
  src/app/favicon.ico
Due: none

add: configure Docker setup and GitHub Actions for release and publish
  .dockerignore
  .github/workflows/release-and-publish.yml
  Dockerfile
  next.config.ts
Due: none

fix: update Dockerfile for security
  Dockerfile
Due: none

update: install package needed
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
Due: none

update: update tailwind
  src/lib/utils.ts
  tailwind.config.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: update css for global
  src/app/globals.css
Due: none

add: setup components install
  components.json
Due: none

add: install button component from shadcn
  src/components/ui/button.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: using button in main page
  src/app/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: error in build
  src/app/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: remove axios
  package.json
  pnpm-lock.yaml
Due: none

update: fix solar issue
  src/app/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: fix some stuffs
  components.json
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/components/.gitkeep
  src/lib/.gitkeep
  tailwind.config.ts
Due: none

update: add license to source
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ui/button.tsx
  src/lib/utils.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

update: add react-icon dependency
  package.json
Due: none

add: logo and banner image for home page
  public/app/banner_home.png
  public/app/logo.png
Due: none

update: add global css
  src/app/globals.css
Due: none

add: header and footer component common
  src/components/commons/Footer.tsx
  src/components/commons/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: base dropdown component
  src/components/ui/dropdown-menu.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: main layout for home page
  src/layouts/.gitkeep
  src/layouts/MainLayout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: implement main layout into layout page
  src/app/layout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: banner and list categories component
  src/components/home/Banner.tsx
  src/components/home/BrowseCategories.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: implement components into homepage
  src/app/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: pnpm lock
  pnpm-lock.yaml
Due: none

fix: sonar cloud issues
  src/components/commons/Footer.tsx
  src/components/home/BrowseCategories.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: sonar issues
  src/components/commons/Footer.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: sonar issues again
  src/components/commons/Footer.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add link redirect to organization
  src/components/commons/Footer.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: sonar cloud issues final
  src/components/commons/Footer.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: favicon & tab title
  src/app/favicon.ico
  src/app/layout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update packages version
  package.json
  pnpm-lock.yaml
Due: none

update: standardize copyright headers and import styles across components
  src/app/layout.tsx
  src/components/commons/Footer.tsx
  src/components/commons/Header.tsx
  src/components/home/Banner.tsx
  src/components/home/BrowseCategories.tsx
  src/components/ui/button.tsx
  src/layouts/MainLayout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: multiple root layout
  src/app/(learners)/layout.tsx
  src/app/(learners)/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: teacher layout
  src/layouts/TeacherLayout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: side bar component for teacher page
  src/components/commons/teachers/SideBar.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: header component for teacher page
  src/components/commons/teachers/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: footer component for teacher page
  src/components/commons/teachers/Footer.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: footer component for teacher
  src/components/commons/teachers/Footer.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: header component for teacher
  src/components/commons/teachers/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

Path conditions:
  pnpm prettier --write "./src/**/*.ts": any of: src/**/*.ts
  pnpm prettier --write "./src/**/*.tsx": any of: src/**/*.tsx
