Repository lzaycoe/brainbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

.lintstagedrc:

{
	"src/**/*.ts": ["pnpm prettier --write \"./src/**/*.ts\""],
	"src/**/*.tsx": ["pnpm prettier --write \"./src/**/*.tsx\""]
}

add: bank service
  src/services/api/bank.ts
  src/services/api/user.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: revenue schema
  src/schemas/revenue.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: revenue services
  src/services/api/revenue.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: component Loading
  src/components/commons/Loading.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: revenue summary component
  src/components/teachers/earnings/ListSummaryCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: bank account form component
  src/components/teachers/earnings/BankAccountForm.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: custom bank card to display card info
  src/components/teachers/earnings/CustomBankCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: credit card component
  src/components/teachers/earnings/CreditCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: sonar cloud issue
  src/components/teachers/earnings/BankAccountForm.tsx
  src/components/teachers/earnings/CustomBankCard.tsx
  src/components/teachers/earnings/ListSummaryCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: sonar cloud issue
  src/components/teachers/earnings/BankAccountForm.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add page check course for admin
  src/app/admins/course/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: if user edit url then navigate to 404
  src/app/(learners)/courses/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add updateCourseStatus
  src/services/api/course.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: add api to get viewable course for learner
  src/services/api/course.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: add props for admin view
  src/components/learners/courses/course/course-detail/CourseDetail.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update route to check course detail
  src/components/admins/check-courses/CourseRequestTable.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar scan
  src/components/learners/category/ListCourseByCategory.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar scan
  src/components/learners/category/ListTeacherByCategory.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: sort list request by date
  src/components/admins/check-courses/CourseRequestTable.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add link to button
  src/components/learners/home/BrowseCategories.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: loading
  src/app/(learners)/courses/page.tsx
  src/app/(learners)/dashboard/page.tsx
  src/app/(learners)/teacher/page.tsx
  src/components/learners/courses/CourseList.tsx
  src/components/learners/dashboard/CoursesSection.tsx
  src/components/learners/dashboard/StatsSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add utils for format date
  src/utils/date.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: withdraw schema
  src/schemas/withdraw.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: withdraw service functions
  src/services/api/withdraw.ts
  src/services/custom/withdraw/getWithdrawHistory.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: list summary revenue component
  src/components/teachers/earnings/ListSummaryCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: integrate api for withdraw money
  src/components/teachers/earnings/WithdrawMoney.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: withdraw history component
  src/components/teachers/earnings/WithdrawHistory.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

delete: remove unnessescary text
  src/app/(learners)/category/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add metadata files for various course-related pages to enhance SEO and page titles
  src/app/(learners)/courses/metadata.ts
  src/app/(learners)/courses/page.tsx
  src/app/(learners)/watch-course/[id]/metadata.ts
  src/app/(learners)/watch-course/[id]/page.tsx
  src/app/admins/check-courses/metadata.ts
  src/app/admins/check-courses/page.tsx
  src/app/teachers/courses/[id]/edit/page.tsx
  src/app/teachers/courses/[id]/metadata.ts
  src/app/teachers/courses/[id]/page.tsx
  src/app/teachers/courses/[id]/sections/[section]/create-lecture/metadata.ts
  src/app/teachers/courses/[id]/sections/[section]/create-lecture/page.tsx
  src/app/teachers/courses/[id]/sections/[section]/lectures/[lecture]/edit/metadata.ts
  src/app/teachers/courses/[id]/sections/[section]/lectures/[lecture]/edit/page.tsx
  src/app/teachers/courses/[id]/sections/metadata.ts
  src/app/teachers/courses/[id]/sections/page.tsx
  src/app/teachers/create-course/metadata.ts
  src/app/teachers/create-course/page.tsx
  src/app/teachers/settings/metadata.ts
  src/app/teachers/settings/page.tsx
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

add: loading
  src/app/(learners)/courses/page.tsx
  src/app/(learners)/dashboard/page.tsx
  src/app/(learners)/teacher/page.tsx
  src/components/learners/courses/CourseList.tsx
  src/components/learners/dashboard/StatsSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: service
  src/services/custom/course/watchCourseServices.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: coursedetail page
  src/app/teachers/courses/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: watch-course component
  src/components/learners/watch-course/CourseMenu.tsx
  src/components/learners/watch-course/CourseNavigation.tsx
  src/components/learners/watch-course/CourseVideo.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: coursedetail component
  src/components/teachers/course-detail/CourseDetail.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add component in shadcn
  package.json
  pnpm-lock.yaml
  src/components/ui/badge.tsx
  src/components/ui/table.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add service function to update status withdraw
  src/services/api/withdraw.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: add service function to get all clerk user
  src/services/api/user.ts
Due: pnpm prettier --write "./src/**/*.ts"
