Repository lzaycoe/brainbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

add: add header for career
  src/components/learners/career/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: implement UI for career
  src/app/(learners)/career/page.tsx
  src/components/learners/career/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add UI for career
  src/app/(learners)/career/page.tsx
  src/components/learners/career/Content.tsx
  src/components/learners/career/Logo.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: implement UI for career
  src/app/(learners)/career/page.tsx
  src/components/learners/career/JobList.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add UI for career
  src/components/learners/career/JobList.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add UI for career
  src/components/learners/career/Content.tsx
  src/components/learners/career/Logo.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix comment, fix from radix ui to react icon
  src/components/learners/courses/course/course-detail/CourseDetail.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix comment, fix from radix ui to react icon
  src/components/learners/courses/course/course-detail/RelatedCourses.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix comment, fix from radix ui to react icon
  src/components/learners/courses/course/course-detail/ReviewSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

delete: remove unnecessary
  package.json
  pnpm-lock.yaml
Due: none

add: add UI for career
  src/components/learners/career/Content.tsx
  src/components/learners/career/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add radio button group
  package.json
  pnpm-lock.yaml
Due: none

update: add upload attachment function
  src/services/supabase/upload.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: add interface for course and section
  src/schemas/course.schema.ts
  src/schemas/section.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: lecture schema
  src/schemas/lecture.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: update teacherId
  src/services/api/course.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: api service functions for lecture
  src/services/api/lecture.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: radio button group component from shadcn
  src/components/ui/radio-group.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: spinner component
  src/components/ui/spinner.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: path import function
  src/app/teachers/create-course/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: form create lecture component
  src/components/teachers/create-lecture/FormCreateLecture.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: file upload input component
  src/components/teachers/create-lecture/FileUploadInput.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: lecture tab component
  src/components/teachers/create-lecture/LectureTab.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add lecture tab into section tab
  src/components/teachers/create-section/SectionTab.tsx
  src/components/teachers/create-section/UpdateSectionDialog.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: page for create lecture
  src/app/teachers/courses/[id]/sections/[section]/create-lecture/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: display title header for create lecture page
  src/layouts/TeacherLayout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix duplicate code
  src/components/teachers/create-section/CreateSectionDialog.tsx
  src/components/teachers/create-section/SectionForm.tsx
  src/components/teachers/create-section/UpdateSectionDialog.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar cloud issues
  src/components/teachers/create-course/FormAdvanceInfo.tsx
  src/components/teachers/create-course/Tab.tsx
  src/components/teachers/create-course/TabGroup.tsx
  src/components/teachers/create-lecture/FileUploadInput.tsx
  src/components/teachers/create-lecture/FormCreateLecture.tsx
  src/components/teachers/create-section/CreateSectionDialog.tsx
  src/components/teachers/create-section/SectionTab.tsx
  src/layouts/TeacherLayout.tsx
  src/services/supabase/client.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar cloud issue
  src/components/teachers/create-course/FormAdvanceInfo.tsx
  src/components/teachers/create-course/Tab.tsx
  src/components/teachers/create-lecture/FormCreateLecture.tsx
  src/components/teachers/create-section/SectionTab.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar issue
  src/components/teachers/create-course/Tab.tsx
  src/components/teachers/create-section/SectionTab.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: fix UI
  src/components/learners/career/JobList.tsx
  src/components/learners/career/Logo.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: fix comment
  src/components/learners/wishlist/CourseItem.tsx
  src/components/learners/wishlist/WishlistActions.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: fix bug comment
  public/app/wishlist/01.png
  public/app/wishlist/02.png
  public/app/wishlist/03.png
  src/components/learners/wishlist/CoursesList.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update fix bug comment
  src/components/learners/wishlist/CourseItem.tsx
  src/components/learners/wishlist/CoursesList.tsx
  src/components/learners/wishlist/WishlistActions.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar cloud issue
  src/components/teachers/create-section/SectionTab.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: error in learner layout
  src/app/layout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: fix bug comment
  src/components/learners/purchase-history/Content.tsx
  src/components/learners/purchase-history/CourseItem.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: sonar cloud issue
  src/app/layout.tsx
  src/components/teachers/create-section/SectionTab.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update layout for section tab
  src/components/teachers/create-section/SectionTab.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: fix UI for about
  src/app/(learners)/about/page.tsx
  src/app/globals.css
  src/components/commons/learners/HeaderSection.tsx
  src/components/learners/about/AboutSection.tsx
  src/components/learners/about/Content.tsx
  src/components/learners/about/Header.tsx
  src/components/ui/breadcrumb.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

Path conditions:
  pnpm prettier --write "./src/**/*.ts": any of: src/**/*.ts
  pnpm prettier --write "./src/**/*.tsx": any of: src/**/*.tsx
