Repository lzaycoe/brainbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

update: redirect to home page when sign out
  src/hooks/useUserMetadata.ts
  src/middlewares/clerk-middleware.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: api service functions for course
  src/services/api/course.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: name of function
  src/components/teachers/create-section/SectionTab.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: value of category selector
  src/components/teachers/create-course/FormBasicInfo.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add logic when sign out
  src/components/commons/Header.tsx
  src/components/commons/MenuItem.tsx
  src/components/commons/teachers/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: style for course card
  src/components/learners/dashboard/CourseCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: categories config color
  src/config/categoryColors.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: integrate display course list for teacher
  src/components/teachers/courses/TeacherCourseCard.tsx
  src/components/teachers/courses/TeacherCourseList.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add UI earning for teacher
  public/app/teacher/visa1.png
  public/app/teacher/visa2.png
  public/app/teacher/visa3.png
  src/app/teachers/earnings/page.tsx
  src/components/teachers/earnings/CreditCard.tsx
  src/components/teachers/earnings/RevenueReport.tsx
  src/components/teachers/earnings/WithdrawHistory.tsx
  src/components/teachers/earnings/WithdrawMoney.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: split data file into separate files
  src/components/teachers/earnings/WithdrawHistory.tsx
  src/data/transactionsData.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

add: add UI for earnings
  src/components/teachers/earnings/WithdrawHistory.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update file name
  src/components/teachers/earnings/WithdrawHistory.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: fix bug sonar
  src/components/teachers/earnings/WithdrawHistory.tsx
  src/data/transactionsData.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

add: utils format date
  src/utils/date.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: service for check payment
  src/services/custom/course/checkPayment.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: custom service for fetch course data
  src/services/custom/course/fetchCourseData.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: api services for lecture and user
  src/services/api/lecture.ts
  src/services/api/user.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: add more attributes for objects
  src/schemas/course.schema.ts
  src/schemas/lecture.schema.ts
  src/schemas/user.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: schemas for progress and payment
  src/schemas/payment.schema.ts
  src/schemas/progress.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: api services for progress and payment
  src/services/api/payment.ts
  src/services/api/progress.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: user metadata hook
  src/hooks/useUserMetadata.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: filter select categories component
  src/components/teachers/courses/FilterSelects.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: header for watch course
  src/components/learners/watch-course/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: course menu for watch course
  src/components/learners/watch-course/CourseMenu.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: course video for watch course
  src/components/learners/watch-course/CourseVideo.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update create course page
  src/app/teachers/create-course/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: course detail basic page
  src/app/teachers/courses/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add toast for layout
  src/app/(learners)/layout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: create watch course page
  src/app/(learners)/watch-course/[id]/page.tsx
  src/app/(learners)/watch-course/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add img link from clerk
  next.config.ts
Due: none

add: add api getTopteachers
  src/services/api/lecture.ts
Due: pnpm prettier --write "./src/**/*.ts"

delete: remove unnescessary log
  src/services/api/course.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: add Clerk schema
  src/schemas/lecture.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

fix: update maxWidth
  src/components/teachers/courses/TeacherCourseCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: use api to get top teacher
  src/components/learners/home/ListTeacherCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: implement UI earning for teacher
  public/app/teacher/Card.png
  src/components/teachers/earnings/CreditCard.tsx
  src/components/teachers/earnings/RevenueReport.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: show last update for lecture
  src/components/learners/watch-course/CourseVideo.tsx
  src/schemas/lecture.schema.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

update: go back button of header and behavior of tabs
  src/app/(learners)/watch-course/[id]/page.tsx
  src/components/learners/watch-course/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: util for get file name and file size
  src/utils/file.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: api service for update progress
  src/services/api/progress.ts
Due: pnpm prettier --write "./src/**/*.ts"

Path conditions:
  pnpm prettier --write "./src/**/*.ts": any of: src/**/*.ts
  pnpm prettier --write "./src/**/*.tsx": any of: src/**/*.tsx
