Repository lzaycoe/brainbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

add: create Earnings page to display ListSummaryCard and RevenueReport components
  src/app/teachers/earnings/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: implement RevenueReport and CreditCard components with chart data integration
  src/components/commons/teachers/RevenueChartCard.tsx
  src/components/teachers/earnings/CreditCard.tsx
  src/components/teachers/earnings/RevenueReport.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: allow images from cdn.builder.io in Next.js configuration
  next.config.ts
Due: none

add: fix bug UI
  src/components/learners/purchase-history/Content.tsx
  src/components/learners/purchase-history/CourseItem.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add axios and dialog
  package.json
  pnpm-lock.yaml
Due: none

update: allow display image from supabase
  next.config.ts
Due: none

update: api for course
  src/services/api/course.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: type name for schema
  src/schemas/course.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: course detail base page
  src/app/teachers/courses/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: import toaster into layout
  src/app/teachers/layout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: change name of object
  src/app/teachers/create-course/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: logic for display effect active in sidebar
  src/components/commons/teachers/SideBar.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: name of object in forms course
  src/components/teachers/create-course/FormAdvanceInfo.tsx
  src/components/teachers/create-course/FormBasicInfo.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: section schema
  src/schemas/section.schema.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: api for section
  src/services/api/section.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: add header title for section page
  src/layouts/TeacherLayout.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: dialog component from shadcn
  src/components/ui/dialog.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: create section dialog
  src/components/teachers/create-section/CreateSectionDialog.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: section tab to display sections
  src/components/teachers/create-section/SectionTab.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: update section dialog
  src/components/teachers/create-section/UpdateSectionDialog.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: delete confirm dialog component
  src/components/commons/teachers/DeleteConfirmationDialog.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: create section page
  src/app/teachers/courses/[id]/sections/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: remove StarIcon component
  src/components/commons/learners/StarIcon.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: move CourseData to data folder
  src/data/CourseData.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: use React Icon instead radix/ui
  src/components/learners/courses/course/course-detail/RelatedCourses.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: use React Icon instead radix/ui
  src/components/learners/courses/course/course-detail/CourseHeader.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: use React Icon instead radix/ui
  src/components/learners/courses/course/course-detail/CourseCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: size of contributors at footer
  src/components/commons/Footer.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: style for section tab
  src/components/teachers/create-section/SectionTab.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: reload page when create course success
  src/app/teachers/create-course/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add variant for toast
  src/components/ui/toast.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: style for toaster
  src/components/ui/toaster.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: call back for reset state of list data
  src/app/teachers/courses/[id]/sections/page.tsx
  src/components/teachers/create-section/CreateSectionDialog.tsx
  src/components/teachers/create-section/SectionTab.tsx
  src/components/teachers/create-section/UpdateSectionDialog.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: implement variant of toast
  src/app/teachers/create-course/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: implement UI for about
  public/app/about/LOGO_01.png
  public/app/about/LOGO_02.png
  public/app/about/LOGO_03.png
  public/app/about/LOGO_04.png
  public/app/about/LOGO_05.png
  public/app/about/LOGO_06.png
  public/app/about/LOGO_07.png
  public/app/about/LOGO_08.png
  src/app/(learners)/about/page.tsx
  src/components/learners/about/Content.tsx
  src/components/learners/about/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: implement UI for about
  public/app/about/01.png
  src/components/learners/about/AboutSection.tsx
  src/components/learners/about/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: fix UI
  public/app/about/AboutSection_01.png
  src/components/learners/about/AboutSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: implement UI for about
  public/app/about/AboutSection_02.png
  src/components/learners/about/AboutSection.tsx
  src/components/learners/about/Content.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update UI
  src/components/learners/about/AboutSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: implement UI for Career
  public/app/career/Career_01.png
  public/app/career/Career_02.png
  src/app/(learners)/career/page.tsx
  src/components/learners/career/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

Path conditions:
  pnpm prettier --write "./src/**/*.ts": any of: src/**/*.ts
  pnpm prettier --write "./src/**/*.tsx": any of: src/**/*.tsx
