Repository lzaycoe/brainbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

update: enhance chat functionality with search and message sending features
  src/app/(learners)/teacher/page.tsx
  src/components/commons/learners/ChatMessage.tsx
  src/components/learners/home/ListTeacherCard.tsx
  src/components/learners/home/TeacherCard.tsx
  src/components/learners/message/ChatApp.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: move folder into check course
  src/app/admins/check-courses/course/[id]/page.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: update route when move file
  src/components/admins/check-courses/CourseRequestTable.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add props to course detail
  src/components/teachers/course-detail/CourseDetail.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: use props to hide unneccesary item
  src/components/learners/watch-course/CourseMenu.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar scan
  src/components/learners/watch-course/CourseMenu.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar scan
  src/components/teachers/courses/TeacherCourseList.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar scan
  src/services/custom/course/watchCourseServices.ts
Due: pnpm prettier --write "./src/**/*.ts"

fix: fix sonar scan
  src/components/teachers/course-detail/CourseDetail.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: create conversation for user
  src/components/commons/learners/ChatMessage.tsx
  src/components/learners/home/TeacherCard.tsx
  src/components/learners/message/ChatApp.tsx
  src/hooks/useChatSocket.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

fix: update status when click update button
  src/services/api/course.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: enhance message filtering and sorting in ChatMessage component
  src/components/commons/learners/ChatMessage.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: sonarcloud issue (Security Hotspot)
  src/components/commons/learners/ChatMessage.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: sonar cloud new issue
  src/components/commons/learners/ChatMessage.tsx
  src/components/teachers/courses/TeacherCourseList.tsx
  src/hooks/useChatSocket.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

fix: improve message handling in TeacherCard and ChatApp components
  src/components/learners/home/TeacherCard.tsx
  src/components/learners/message/ChatApp.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: sort message time
  src/components/commons/learners/ChatMessage.tsx
  src/components/learners/message/ChatApp.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: sonar cloud issue
  src/components/learners/message/ChatApp.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: sonar cloud issue
  src/components/commons/learners/ChatMessage.tsx
  src/components/learners/message/ChatApp.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: streamline message handling in ChatApp component
  src/components/learners/message/ChatApp.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: enhance chat message display logic and improve user prompts
  src/components/commons/learners/ChatMessage.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: simplify socket event handling and improve code readability
  src/components/commons/learners/ChatMessage.tsx
  src/hooks/useChatSocket.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

Update TeacherCourseList.tsx
  src/components/teachers/courses/TeacherCourseList.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: refactor CourseList and CoursesSection to use CourseProgressCardData type
  src/components/learners/courses/CourseList.tsx
  src/components/learners/dashboard/CoursesSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: enhance CONTRIBUTING.md with additional environment variables
  CONTRIBUTING.md
Due: none

update: redirect admin logout to home page instead of login
  src/components/commons/admins/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: enhance LoginForm with logo and improve button layout
  src/components/admins/LoginForm.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: increase price in InstructorSection from 5000 to 50000
  src/components/learners/becomeATeacher/InstructorSection.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: localize user activity messages in RevenueReport component
  src/components/teachers/dashboard/RevenueReport.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: filter courses to show only approved and public ones in CourseListPage and ListCourseCard
  src/app/(learners)/course-list/page.tsx
  src/components/learners/home/ListCourseCard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add option for learner & teacher header
  src/components/commons/Header.tsx
  src/components/commons/teachers/Header.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: bug cannot get data about section, lecture
  src/components/teachers/course-detail/CourseDetail.tsx
  src/services/custom/course/fetchCourseData.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./src/**/*.tsx"

fix: remove unused comment and log
  src/components/teachers/course-detail/CourseDetail.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: add loading component and increase row into 10
  src/components/admins/check-courses/CourseRequestTable.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix lint error
  src/components/admins/check-courses/CourseRequestTable.tsx
  src/components/teachers/course-detail/CourseDetail.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix lint erorr
  src/components/teachers/course-detail/CourseDetail.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

update: add SystemReport interface and implement getSystemReport API function
  src/schemas/revenue.schema.ts
  src/services/api/revenue.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: create ListSummaryCardDashboard component to display system report data
  src/app/admins/dashboard/page.tsx
  src/components/admins/dashboard/ListSummaryCardDashboard.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

add: add refresh button
  src/components/admins/check-courses/CourseRequestTable.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar scan
  src/components/admins/check-courses/CourseRequestTable.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

fix: fix sonar scan 2
  src/components/admins/check-courses/CourseRequestTable.tsx
Due: pnpm prettier --write "./src/**/*.tsx"

Path conditions:
  pnpm prettier --write "./src/**/*.ts": any of: src/**/*.ts
  pnpm prettier --write "./src/**/*.tsx": any of: src/**/*.tsx
